# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\cooln\AppData\Roaming\JetBrains\DataGrip2020.3\projects\TryBlazor\.idea/dataSources/
/dataSources.local.xml
